.center-text {
  text-align: center !important;
}

.mb-large {
  margin-bottom: 14rem !important;
}

.mb-big {
  margin-bottom: 8rem !important;
}

.mb-medium {
  margin-bottom: 6rem !important;
}

.mb-small {
  margin-bottom: 4rem !important;
}

.mb-tiny {
  margin-bottom: 2rem !important;
}

.mt-tiny {
  margin-top: 2rem !important;
}
