:root {
  --color-black-1: #000;
  --color-black-2: #111;
  --color-black-3: #222;
  --color-white: #fff;
  --color-white-2: #f9fafd;
  --color-white-3: #eeeeee;
  --color-orange: #ff7417;
  --color-yellow: #d1b307;
  --color-grey-dark: #555;
  --color-grey-light: #a0a3ad;
  --color-red: #e71247;
  --color-red-alt: #e64a43;
  --stars-color: #dabd18b2;
  --color-orange-dark: #df6615;
  --back-img-1: linear-gradient(315deg, #f6d327, #de4daa 74%);
  --back-img-2: linear-gradient(90deg, #e71247 50%, #000 50%);
  --back-img-3: linear-gradient(
    to right bottom,
    #e71247,
    #e64a43,
    #e35d45,
    #de7150,
    #ca724a
  );
  --shadow-1: rgba(0, 0, 0, 0.9);
  --shadow-2: rgba(0, 0, 0, 0.7);
  --shadow-3: rgba(0, 0, 0, 0.5);
  --shadow-4: rgba(0, 0, 0, 0.2);
  --shadow-5: rgba(0, 0, 0, 0.1);
  --primary-font: "Poppins", sans-serif;
  --max-width: 120rem;
  --header-height: 11rem;
  --z-index-large: 2000;
  --z-index-bigger: 1500;
  --z-index-big: 1000;
  --z-index-medium: 500;
  --z-index-small: 100; }

/*=============== BREAKPOINTS ===============*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
  scroll-padding-top: 13rem; }

::-webkit-scrollbar {
  width: 1rem;
  background-color: var(--color-white); }
  ::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: var(--color-red); }
    ::-webkit-scrollbar-thumb:hover {
      background-color: var(--color-red-alt); }

::selection {
  background-color: var(--color-red-alt);
  color: var(--color-white-3); }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden; }

body {
  font-family: var(--primary-font);
  color: var(--color-white);
  font-weight: 500; }

img {
  max-width: 100%;
  height: 100%; }

.swiper {
  padding-bottom: 8rem !important; }

.swiper-pagination {
  font-size: 1.3rem; }

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-black-1);
  z-index: var(--z-index-large);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }
  .preloader-gif {
    width: 10rem;
    height: 10rem; }
  .preloader.fade-out {
    top: -100%;
    opacity: 0; }

.progress {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  height: 6rem;
  width: 6rem;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 1rem 2rem var(--shadow-3);
  z-index: var(--z-index-big);
  cursor: pointer; }
  .progress-value {
    display: block;
    height: 100%;
    border-radius: 50%;
    display: grid;
    place-items: center; }
  .progress-icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-white); }

@media only screen and (max-width: 62em) {
  html {
    font-size: 56.25%; } }

@media only screen and (max-width: 48em) {
  html {
    font-size: 50%; } }

@media only screen and (max-width: 37em) {
  html {
    font-size: 40.62%; } }

.heading-1 {
  font-size: 2rem;
  line-height: 60px;
  font-weight: 600; }

.heading-2 {
  font-size: 1.8rem; }

.heading-3 {
  font-size: 1.6rem;
  position: relative; }
  .heading-3::after {
    content: "";
    background-color: var(--color-white);
    width: 8rem;
    height: 0.2rem;
    border-radius: 0.5rem;
    position: absolute;
    bottom: -25%;
    left: 0; }

.heading-4 {
  font-size: 1.5rem;
  color: var(--color-grey-dark); }

.heading-5 {
  font-size: 1.4rem;
  color: var(--color-black-3); }

.paragraph {
  font-size: 1.5rem; }

.section__title {
  color: var(--color-grey-dark);
  line-height: 60px;
  position: relative; }
  .section__title::after {
    content: "";
    background-color: var(--color-red);
    width: 8rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }

.center-text {
  text-align: center !important; }

.mb-large {
  margin-bottom: 14rem !important; }

.mb-big {
  margin-bottom: 8rem !important; }

.mb-medium {
  margin-bottom: 6rem !important; }

.mb-small {
  margin-bottom: 4rem !important; }

.mb-tiny {
  margin-bottom: 2rem !important; }

.mt-tiny {
  margin-top: 2rem !important; }

@keyframes moveInLeft {
  0% {
    opacity: 0; }
  80% {
    opacity: 0.8;
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0; }
  80% {
    opacity: 0.8;
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes cart {
  0% {
    left: -10%; }
  40%,
  60% {
    left: 50%; }
  100% {
    left: 115%; } }

@keyframes box {
  0%,
  40% {
    top: -20%; }
  60% {
    top: 40%;
    left: 50%; }
  100% {
    top: 40%;
    left: 112%; } }

@keyframes add-txt {
  0% {
    opacity: 1; }
  20%,
  100% {
    opacity: 0; } }

@keyframes added-txt {
  0%,
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.btn--sing-in-up, .btn--ghost {
  border-radius: 5rem;
  padding: 1.25rem 3.5rem;
  font-weight: 600;
  color: var(--color-white);
  border-radius: 5rem; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  font-size: 1.3rem;
  padding: 1.5rem 2.5rem;
  border: none;
  font-weight: 600;
  font-family: inherit;
  text-transform: uppercase;
  transition: all 0.3s;
  letter-spacing: 2px;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 1.5rem var(--shadow-5); }

.btn:active {
  outline: none;
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem var(--shadow-5); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  background-color: var(--color-white); }

.btn--white {
  border: 1px solid var(--color-white);
  background-color: transparent;
  color: var(--color-white); }
  .btn--white:hover {
    background-color: var(--color-white);
    color: var(--color-black-1); }

.btn--sing-in-up {
  background-color: var(--color-red); }
  .btn--sing-in-up::after {
    border-radius: inherit;
    background-color: var(--color-red); }

.btn--ghost {
  background-color: transparent;
  border: 1px solid var(--color-white);
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: inherit;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  cursor: pointer; }
  .btn--ghost:hover {
    background-color: var(--shadow-4); }

.grid-container {
  display: grid;
  grid-template-rows: 100vh repeat(7, min-content);
  grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
  overflow: hidden; }
  @media only screen and (max-width: 37em) {
    .grid-container {
      grid-template-rows: 80vh repeat(7, min-content); } }

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: var(--z-index-big);
  background-color: var(--color-black-1);
  transition: all 0.3s; }
  .header__sticky {
    box-shadow: 0 4px 4px rgba(10, 10, 10, 0.3);
    background-color: var(--color-black-2); }

.active-link {
  color: var(--color-red) !important;
  position: relative; }
  .active-link::after {
    content: "";
    position: absolute;
    top: 6.25rem;
    width: 100%;
    left: 0;
    background: var(--color-red);
    height: 4px; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  position: relative; }
  .nav__logo {
    height: 8rem;
    padding-left: 1.5rem; }
  .nav__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3.5rem; }
  .nav__list {
    list-style: none; }
  .nav__item:link, .nav__item:visited {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--color-white);
    text-transform: uppercase;
    transition: all 0.3s; }
  .nav__login:link, .nav__login:visited {
    background-color: transparent;
    border: 1px solid var(--color-red);
    padding: 1.2rem 1.75rem;
    transition: all 0.5s; }
    .nav__login:link:hover, .nav__login:visited:hover {
      background-color: var(--color-red); }
      .nav__login:link:hover:after, .nav__login:visited:hover:after {
        background: none; }
  .nav .nav__cart {
    position: relative;
    padding-right: 1.5rem; }
    .nav .nav__cart-icon {
      display: inline-block;
      width: 4rem;
      height: 4rem;
      fill: var(--color-red);
      cursor: pointer; }
    .nav .nav__cart-count {
      position: absolute;
      font-size: 1.3rem;
      top: 0.5rem;
      right: -0.5rem;
      transform: translate(-50%, -50%);
      padding: 0.1rem 0.7rem;
      background-color: var(--color-white-3);
      border-radius: 50%;
      color: var(--color-black-3); }
  .nav__burger {
    display: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer; }
    .nav__burger-line {
      display: block;
      visibility: hidden;
      opacity: 0;
      width: 4rem;
      height: 2px;
      margin: 0.5rem auto;
      background-color: var(--color-white);
      transition: all 0.3s ease-in-out; }
  .nav__user {
    position: absolute;
    top: 50%;
    right: 3.5rem;
    transform: translate(-50%, -50%);
    background-color: var(--color-black-3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    cursor: pointer; }
    .nav__user-icon {
      width: 2rem;
      height: 2rem;
      fill: var(--color-white); }

@media only screen and (max-width: 62em) {
  .nav__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4rem; }
  .nav__menu {
    position: fixed;
    top: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55vh;
    row-gap: 5rem;
    background-color: var(--color-red);
    transition: all 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.3);
    z-index: var(--z-index-large); }
    .nav__menu.active {
      top: var(--header-height); }
  .nav__login:link, .nav__login:visited {
    border: 1px solid var(--color-white-3);
    padding: 1.2rem 1.75rem;
    transition: all 0.5s;
    background-color: var(--shadow-4); }
  .nav__burger {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    visibility: visible;
    opacity: 1; }
    .nav__burger.active .nav__burger-line:nth-child(2) {
      opacity: 0; }
    .nav__burger.active .nav__burger-line:nth-child(1) {
      transform: translateY(9px) rotate(45deg); }
    .nav__burger.active .nav__burger-line:nth-child(3) {
      transform: translateY(-13px) rotate(-45deg); }
    .nav__burger-line {
      display: block;
      visibility: visible;
      opacity: 1; } }

@media only screen and (max-width: 48em) {
  .nav__menu {
    height: 45vh; }
  .nav__burger.active .nav__burger-line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg); } }

@media only screen and (max-width: 37em) {
  .nav {
    padding: 0; }
    .nav__logo {
      margin-left: 1rem; }
    .nav__burger.active .nav__burger-line:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg); } }

@media only screen and (max-width: 62em) {
  .active-link {
    color: var(--color-white) !important; }
    .active-link::after {
      top: 2.5rem;
      background: var(--color-white-3);
      height: 2px; } }

.home {
  display: grid;
  background-color: var(--color-black-1);
  grid-column: full-start / full-end;
  margin-top: var(--header-height); }
  .home__container {
    display: flex;
    justify-content: center;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 3rem; }
  .home__introduction {
    display: grid;
    justify-items: flex-start;
    align-self: center;
    row-gap: 3rem; }
  .home__heading {
    font-size: 5rem;
    line-height: 7rem; }
  .home__heading, .home__paragraph {
    max-width: 75%;
    animation: moveInLeft 2s cubic-bezier(0.65, 0, 0.35, 1) 2s; }
  .home__paragraph {
    font-size: 1.4rem;
    color: var(--color-grey-dark);
    font-style: italic; }
  .home__btn {
    animation: moveInBottom 2.5s cubic-bezier(0.65, 0, 0.35, 1) 3s;
    animation-fill-mode: backwards; }
  .home__shoe {
    display: grid;
    justify-self: center;
    height: 40%;
    width: 40%;
    align-self: center;
    animation: moveInRight 2s cubic-bezier(0.65, 0, 0.35, 1) 2s; }

@media only screen and (max-width: 62em) {
  .home__container {
    flex-direction: column;
    row-gap: 6rem;
    padding-top: 7rem; }
  .home__introduction {
    justify-items: center;
    text-align: center; }
  .home__heading, .home__paragraph {
    max-width: 70%; }
  .home__shoe {
    justify-items: center; } }

@media only screen and (max-width: 48em) {
  .home__heading, .home__paragraph {
    max-width: 75%; } }

@media only screen and (max-width: 37em) {
  .home__heading {
    font-size: 3.5rem;
    line-height: 5rem; }
  .home__heading, .home__paragraph {
    max-width: 85%; }
  .home__shoe {
    width: 70%; } }

@media only screen and (max-width: 26.75em) {
  .home__container {
    padding-top: 0; } }

.categories {
  background-color: var(--color-white);
  display: grid;
  grid-column: center-start / center-end;
  padding: 8rem 0; }
  .categories__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    column-gap: 10rem; }
  .categories img {
    box-shadow: 0 1.5rem 2rem var(--shadow-4); }
  @media only screen and (max-width: 62em) {
    .categories__container {
      gap: 4rem; } }

.products {
  display: grid;
  grid-column: center-start / center-end;
  background-color: var(--color-white); }
  .products__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-bottom: 8rem;
    gap: 4rem; }

.product {
  display: flex;
  align-items: center;
  position: relative; }
  .product__wrapper {
    background-color: var(--color-white);
    border: 1px solid var(--shadow-5);
    border-radius: 0.5rem; }
  .product__figure {
    display: flex;
    flex-direction: column;
    overflow: hidden; }
    .product__figure-img {
      position: relative;
      transform: scale(1.05);
      padding: 1rem;
      transition: all 0.3s; }
    .product__figure-cap, .product__figure-price {
      font-size: 1.4rem;
      text-align: center; }
    .product__figure-cap {
      background-color: var(--color-grey-dark);
      padding: 1.5rem 1rem;
      border-bottom: 2px solid var(--color-white); }
  .product__price {
    background-color: var(--color-grey-dark);
    display: block;
    padding: 1rem 0;
    width: 100%;
    border-radius: 0 0 0.5rem 0.5rem;
    font-size: 1.3rem;
    font-style: italic;
    text-align: center; }
  .product__interact {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    visibility: hidden;
    opacity: 0; }
  .product__look {
    height: 3.5rem;
    width: 3.5rem;
    fill: var(--color-white); }
    .product__look:hover {
      fill: var(--color-red); }
  .product__btn, .product__btn:link, .product__btn:visited {
    background-color: var(--color-black-1);
    border: none;
    padding: 2.5rem 8rem;
    border-radius: 0.5rem;
    outline: none;
    font-family: inherit;
    position: relative;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    cursor: pointer; }
    .product__btn:hover, .product__btn:link:hover, .product__btn:visited:hover {
      background-color: var(--color-red);
      transform: translateY(-3px); }
    .product__btn:active, .product__btn:link:active, .product__btn:visited:active {
      transform: translateY(-1px); }
  .product__btn-add, .product__btn-added {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    font-size: 1.2rem;
    color: var(--color-white);
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-transform: uppercase; }
  .product__btn-add {
    opacity: 1; }
  .product__btn-added {
    opacity: 0; }
  .product__icon-cart {
    position: absolute;
    top: 50%;
    left: -15%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 2.5rem;
    height: 2.5rem; }
  .product__icon-box {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 1.3rem;
    height: 1.3rem;
    fill: var(--color-white); }
  .product__btn, .product__look {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s; }
  .product:hover .product__figure-img {
    filter: blur(3px) grayscale(50%) brightness(40%); }
  .product:hover .product__interact {
    top: 35%;
    transition: all 0.5s;
    visibility: visible;
    opacity: 1; }
  .product:hover .product__btn,
  .product:hover .product__look {
    opacity: 1;
    visibility: visible; }
  .product__btn.clicked .product__icon-cart {
    animation: cart 1.5s ease-in-out forwards; }
  .product__btn.clicked .product__icon-box {
    animation: box 1.5s ease-in-out forwards; }
  .product__btn.clicked .product__btn-add {
    animation: add-txt 1.5s ease-in-out forwards; }
  .product__btn.clicked .product__btn-added {
    animation: added-txt 1.5s ease-in-out forwards; }

@media only screen and (max-width: 48em) {
  .product {
    transform: scale(0.9) !important; } }

.offer {
  display: grid;
  grid-column: full-start / full-end;
  background-color: #f6d327;
  background-image: var(--back-img-1);
  transform: skewY(-3deg);
  padding: 5rem 0; }
  .offer__container {
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    display: grid;
    justify-items: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    transform: skewY(3deg);
    height: 100%; }
  .offer__title {
    font-size: 2.2rem; }
  .offer__glasses {
    transform: scale(1.1); }
  .offer__details {
    display: grid;
    justify-items: center;
    row-gap: 5rem; }
  .offer__name {
    font-size: 1.9rem;
    color: var(--color-black-1);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px; }
  .offer__paragraph {
    font-size: 1.7rem;
    hyphens: auto;
    text-align: justify;
    font-weight: 400;
    line-height: 3.5rem;
    padding: 0 3rem; }

.visible {
  display: block; }

.hidden {
  display: none; }

@media only screen and (max-width: 48em) {
  .offer__glasses {
    transform: scale(0.8); } }

@media only screen and (max-width: 20em) {
  .offer__container {
    grid-template-columns: 1fr;
    width: 100%; }
  .offer__name {
    letter-spacing: 1px; } }

.facility {
  display: grid;
  grid-column: full-start / full-end;
  padding: 3rem 0; }
  .facility__container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    row-gap: 5rem; }
  .facility__box {
    display: grid;
    justify-items: center;
    text-align: center; }
    .facility__box-img {
      position: relative;
      display: inline-block;
      line-height: 13rem;
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      border: 1.5px solid var(--color-black-1);
      z-index: 1;
      margin-bottom: 1.6rem; }
      .facility__box-img::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0.7rem;
        background-color: #f7b42c;
        background-image: var(--back-img-1);
        z-index: -1; }
      .facility__box-img:hover svg {
        transform: rotate(1turn); }
    .facility__box-icon {
      width: 4rem;
      height: 4rem;
      transition: 1s;
      perspective: 4000; }
  .facility__text {
    color: var(--color-black-3);
    font-size: 1.6rem;
    text-align: center; }
  @media only screen and (max-width: 62em) {
    .facility__container {
      width: 90%;
      margin: 0 auto; } }

.testimonial {
  display: grid;
  grid-column: full-start / full-end; }
  .testimonial__container {
    width: 100%;
    height: 100%;
    background: url("../../assets/img/testimonial.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: var(--z-index-medium);
    text-align: center; }
    .testimonial__container::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: var(--shadow-2); }
  .testimonial__box {
    display: grid;
    padding: 5rem 0;
    justify-items: center;
    row-gap: 4rem;
    color: var(--color-white); }
  .testimonial__img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%; }
  .testimonial__description {
    margin: 0 auto;
    line-height: 4rem;
    font-style: italic;
    font-size: 2rem;
    width: 50%; }
  .testimonial__rating-star {
    width: 3rem;
    height: 3rem;
    fill: var(--color-orange-dark); }

@media only screen and (max-width: 62em) {
  .testimonial__description {
    width: 70%; } }

.social {
  display: grid;
  grid-column: full-start / full-end; }
  .social__container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); }
  .social__box {
    display: grid;
    justify-items: center;
    text-align: center; }
    .social__box-img {
      position: relative;
      display: inline-block;
      line-height: 13rem;
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      border: 1px solid var(--color-yellow);
      z-index: 1;
      margin-bottom: 1.6rem; }
      .social__box-img::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0.7rem;
        background-color: #f7b42c;
        background-image: var(--back-img-1);
        z-index: -1;
        transition: all 0.5s; }
    .social__box-icon {
      width: 4rem;
      height: 4rem;
      transition: transform 0.3s ease; }
      .social__box-icon:hover {
        transform: translateY(-3px); }
  .social__text {
    color: var(--color-white);
    font-size: 1.6rem;
    text-align: center; }

.footer {
  background-image: var(--back-img-2); }
  .footer__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    align-items: start;
    justify-items: center;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 5rem 2rem; }
  .footer__box {
    display: flex;
    flex-direction: column; }
  .footer__menu {
    display: grid;
    row-gap: 3rem; }
  .footer__link {
    list-style: none; }
  .footer__item {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--color-white);
    display: flex;
    align-items: center;
    column-gap: 0.5rem; }
    .footer__item:hover {
      text-decoration: underline; }
    .footer__item-icon {
      width: 1.8rem;
      height: 1.8rem;
      fill: var(--color-red); }
  .footer__copyright {
    display: block;
    font-size: 1.2rem;
    padding: 2rem 0;
    background-color: var(--color-black-2); }
  .footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5rem; }
    .footer__social-box {
      padding: 1rem 1rem;
      background-color: var(--color-black-3);
      border-radius: 50%;
      border: 1px solid var(--color-white);
      line-height: 1px; }
      .footer__social-box:hover {
        border: 1px solid var(--color-red); }
      .footer__social-box:hover svg {
        fill: var(--color-red); }
    .footer__social-icon {
      width: 2rem;
      height: 2rem;
      fill: var(--color-white); }

@media only screen and (max-width: 62em) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem; }
  .footer__box {
    width: 50%; } }

@media only screen and (max-width: 37em) {
  .footer__box {
    width: 90%; } }

@media only screen and (max-width: 20em) {
  .footer__item-icon {
    fill: var(--color-grey-dark); } }

.cart {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 6rem;
  border-radius: 1rem;
  z-index: var(--z-index-large); }
  @media only screen and (max-width: 48em) {
    .cart {
      width: 100%;
      padding: 2rem; } }
  .cart__hidden {
    display: none; }
  .cart__container {
    background-color: var(--color-white-2);
    padding: 1rem;
    border-radius: 2rem;
    position: relative;
    transition: all 0.3s; }
    .cart__container:hover {
      transform: scale(1.1); }
  .cart__close {
    position: absolute;
    top: 2rem;
    right: 2.5rem;
    width: 1.2rem;
    height: 1.2rem;
    background: none;
    border: none;
    cursor: pointer; }
    .cart__close-svg {
      fill: var(--color-red);
      width: 2rem;
      height: 2rem; }
  .cart__heading-1, .cart__heading-2 {
    color: var(--color-grey-dark); }
  .cart__items {
    row-gap: 2rem;
    display: grid;
    padding: 4rem; }
    @media only screen and (max-width: 26.75em) {
      .cart__items {
        padding: 2rem; } }
  .cart__item {
    display: grid;
    grid-template-columns: repeat(6, max-content);
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-white-3);
    padding: 1rem;
    column-gap: 3rem;
    border-radius: 2rem; }
    @media only screen and (max-width: 26.75em) {
      .cart__item {
        grid-template-columns: repeat(3, max-content);
        row-gap: 2rem; } }
    .cart__item-count {
      width: 8rem;
      border: 1px solid var(--color-red);
      border-radius: 1rem;
      padding: 0.5rem;
      font-family: inherit;
      color: var(--color-red); }
      .cart__item-count:focus {
        outline: none; }
    .cart__item-price {
      color: var(--color-black-3);
      font-size: 1.3rem; }
    .cart__item-remove {
      z-index: 1;
      background: none;
      border: none;
      cursor: pointer; }
      .cart__item-remove-icon {
        width: 3rem;
        height: 3.5rem;
        fill: var(--color-red);
        position: relative;
        z-index: -1; }
    .cart__item-back {
      display: flex;
      align-items: center;
      column-gap: 1rem;
      text-decoration: none; }
    .cart__item-arrow {
      width: 2rem;
      height: 2rem; }
    .cart__item-bottom, .cart__item-button {
      display: flex;
      justify-self: end; }
    .cart__item-total {
      display: flex;
      column-gap: 2rem; }
  .cart__img {
    width: 12rem;
    height: 12rem;
    object-fit: contain; }
  .cart__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-2);
    backdrop-filter: blur(3px);
    z-index: var(--z-index-bigger);
    transition: all 500ms ease-in-out; }
    .cart__overlay-hidden {
      display: none; }

.sign-in-container::before, .sign-up-container::before {
  content: "";
  position: absolute;
  top: 97.5%;
  transform: translate(-50%, -50%) rotateY(180deg);
  width: 15rem;
  height: 15rem;
  background-size: contain;
  background-repeat: no-repeat; }

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: -1.5rem 0 5rem;
  padding: 0 2rem;
  background: var(--back-img-3); }

.container {
  background-color: var(--color-white);
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem var(--shadow-1);
  width: 80rem;
  max-width: 100%;
  min-height: 55rem;
  overflow: hidden;
  position: relative; }

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  padding: 0 5rem;
  height: 100%;
  background-color: var(--color-white); }
  .form__heading {
    color: var(--color-black-3);
    font-size: 2.5rem; }
  .form__alternative {
    font-size: 1rem;
    color: var(--color-grey-dark); }
  .form__social {
    display: flex;
    column-gap: 1rem; }
    .form__social-link {
      border: 1px solid #cfcfcf;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      padding: 0.8rem;
      transition: all 0.3s ease-in-out; }
      .form__social-link:hover {
        border: 1px solid var(--color-red);
        fill: var(--color-red); }
    .form__social-icon {
      width: 2rem;
      height: 2rem;
      padding: 0.2rem; }
  .form__input {
    max-width: 38rem;
    width: 100%;
    height: 5.5rem;
    background-color: #f0f0f0;
    border-radius: 5.5rem;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative; }
    .form__input-field {
      border: none;
      background: none;
      line-height: 1;
      font-weight: 600;
      color: #333;
      font-size: 1.1rem; }
      .form__input-field:focus {
        outline: none; }
      .form__input-field::placeholder {
        color: #818181;
        font-weight: 500; }
    .form__input-icon {
      width: 1.5rem;
      height: 1.5rem;
      align-self: center;
      justify-self: center;
      fill: #acacac; }
    .form__input-toggle {
      position: absolute;
      right: 4%;
      transform: translateX(-50%);
      cursor: pointer; }
  .form__forgot-pass {
    color: var(--color-grey-dark);
    text-decoration: none; }
    .form__forgot-pass:hover {
      text-decoration: underline; }
  .form__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem; }
    .form__checkbox-label {
      font-size: 1.1rem;
      color: var(--color-black-3); }

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out; }

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2; }
  .sign-in-container::before {
    left: 18%;
    background-image: url("../../assets/img/login/login.svg"); }

.sign-up-container {
  left: 0;
  width: 50%;
  z-index: 1;
  opacity: 0; }
  .sign-up-container::before {
    right: -25%;
    background-image: url("../../assets/img/login/register.svg"); }

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100; }

/* The overlay has a double width size (200%)
so it's taking the full width of the main container.
(200% * 50% = 100%. The 50% is from the .overlay-container)
*/
.overlay {
  background: var(--color-red);
  background-image: var(--back-img-3);
  color: var(--color-white);
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  position: relative; }
  .overlay__panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out; }
  .overlay__right {
    right: 0;
    transform: translateX(0); }
  .overlay__left {
    transform: translateX(-20%); }
  .overlay__paragraph {
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 2rem;
    letter-spacing: 0.5px;
    margin: 2rem 0 3rem; }

/* ==== ANIMATIONS ==== */
.container.right-panel-active .sign-in-container {
  transform: translateX(100%); }

.container.right-panel-active .overlay-container {
  transform: translateX(-100%); }

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5; }

.container.right-panel-active .overlay {
  transform: translateX(50%); }

.container.right-panel-active .overlay__left {
  transform: translateX(0); }

.container.right-panel-active .overlay__right {
  transform: translateX(20%); }

/* ==== MESSAGE SUCCESS/FAIL POPUP ==== */
.popup__success {
  position: fixed;
  padding: 1rem 2rem;
  color: var(--color-white);
  font-size: 2rem;
  top: -5rem;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.5, 1, 0.89, 1);
  background-color: var(--color-success); }
  .popup__success-sticky {
    top: 0;
    visibility: visible;
    opacity: 1; }

.popup__icon {
  width: 2rem;
  height: 2rem; }

@media only screen and (max-width: 37em) {
  .body-container {
    padding: 0;
    margin: 0; } }

@media only screen and (max-width: 37em) {
  .container {
    width: 100%;
    min-height: 100%; } }

@media only screen and (max-width: 37em) {
  .form {
    row-gap: 4rem;
    padding: 0 3rem; } }

@media only screen and (max-width: 37em) {
  .overlay__panel {
    row-gap: 4rem;
    padding: 0 1rem; } }
